*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: who;
    src: url(../font/who_asks_satan/who\ asks\ satan.ttf);
}
@font-face {
    font-family: dhf;
    src: url(../font/dhf_story_brush/DHF\ Story\ Brush.ttf);
}

body{
    background-image: url(../image/bg1.jpg);
}
header{
    width: 100%;
    height: 90px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomeJogo h1{
    color: rgb(116, 116, 61);
    font-family: dhf;
    font-size: 59px;
    letter-spacing: 15px;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-container {
    width : 100%;
    display: flex;
    justify-content: center;
}
.texto{
    width: 900px;
    margin-top: 100px;
    font-family: seagram;
}
.texto h1{
    background-color: rgba(41, 41, 41, 0.479) ;
    border-radius: 10px;
    color: rgb(134, 156, 52);
    font-size: 42px;
    font-family: monospace;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
}
.btn-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.btn{
    width: 200px;
    height: 40px;
    background-color: rgba(116, 116, 61, 0.555);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.btn-container a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: who;
    color: black;
}
.btn-container a:hover{
    font-weight: bolder;
    transition: 0.2s;
}