*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: medieval;
    src: url(../font/a_agressive_winter/aAgressiveWinter.ttf);
}
body{
    background-image: url(../image/cap2.jpg);
    background-color: black;
    background-position: top;
}
.texto{
    width: 100%;
    margin-top: 20px;
    background-color: rgba(112, 81, 224, 0.582);
    border-radius: 10px;
}
h1{
    color:rgb(34, 33, 33);
    text-align: center;
}
.link{
    margin-top: 200px;
    width:  100%;
    display: flex;
    justify-content: space-around;
}
a{
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: medieval;
    color: rgb(29, 28, 28);
    background-color: rgba(112, 81, 224, 0.582);
    width: 190px;
    text-align: center;
}
    a:hover{
    color: black;
}
