*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../image/cap5.jpg);
    background-color: black;
}
h1{
    color: red;
    margin-left: 20px;
    margin-top: 40px;
}
.link{
    margin-top: 50px;
    width: 100%;
}
a{
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 200px;
    background-color: rgb(19, 163, 79);
}